@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'CoffeeHealing';
  src: url('/CoffeeHealing-1GrKe.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
